
 
body{
   
     
     
}
.dark-mode {
  background-color: black;
  color: white;
}

.header{
  height:50px;
     margin:0px 20px;
     padding-bottom: 0px;
}
h1{
          font-family: 'Yellowtail';
          font-size: 60px;
}
 .h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(118, 117, 117) ;
    font-size:80px;
  
 }
  span{
       background-image: linear-gradient( to right, #3b82f6 63.77%, #ec4899 83.43%, #3b82f6 99.94%);
    color: transparent;
    background-clip: text;
     
 }
 .p{
    color: rgb(95, 93, 93);
    font-size: 15px;
 }
 .structer{
     
 }
 h2{
     background-image: linear-gradient( to right, #3b82f6 63.77%, #ec4899 83.43%, #3b82f6 99.94%);
     direction: ltr;
    color: transparent;
    background-clip: text;
     font-size: 50px;
 }
 .content{
    text-align:justify;
   
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content:center ;
    margin: 0px  auto;
    padding: 0px 100px 0px 50px;
    height:auto;
 }
 .nev{
    background-color: rgb(238, 238, 242);
    height: 50px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
   border-radius: 5px;
    display:flex;
    width: 400px;
 margin-top: 0px;
 margin-bottom:0px ;
 margin-left:auto ;
 margin-right:auto ;
   
 }